@font-face {
   font-family: 'bariol_thin-webfont';
   font-display: swap;
   src: url('bariol_thin-webfont/font.ttf');
}
@font-face {
   font-family: 'bariol_regular-webfont';
   font-display: swap;
   src: url('bariol_regular-webfont/font.ttf');
}
@font-face {
   font-family: 'bariol_bold_italic-webfont';
   font-display: swap;
   src: url('bariol_bold_italic-webfont/font.ttf');
}
