@font-face {
   font-family: 'bariol_thin-webfont';
   font-display: swap;
   src: url('file:///C:/Users/manju/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-11_161858/fonts/bariol_thin-webfont/font.ttf');
}
